---
import { getCollection, type CollectionEntry } from "astro:content";

import Input from "../components/ui/Input.svelte";
import Section from "@/components/ui/Section.svelte";
import Layout from "../layouts/Layout.astro";
import Heading from "../components/layout/Heading.astro";
import Scrollable from "@/components/layout/Scrollable.astro";

const suites = await getCollection("suites");
const snippets = await getCollection("snippets");
const usecases = await Promise.all(
  (await getCollection("usecases")).map(async (it) => ({
    ...it,
    rendered: await it.render(),
  }))
);

const featuredSuites = suites.filter((pkg) => pkg.data.featured);
const featuredSnippets = snippets.filter((snippet) => snippet.data.featured);
const featuredUsecases = usecases.filter((usecase) => usecase.data.featured);
const featured = [
  ...featuredSuites,
  ...featuredSnippets,
  ...featuredUsecases,
];
---

<Layout title="Shire Run - Streamline your coding agent with Shire">
  <Heading />
  <main>
    <Input
      client:only="svelte"
      className="w-fit min-w-96 mx-auto"
      placeholder="Type to search..."
    />
    <Scrollable vertical={true}>
      <!-- featured section -->
      <Section
        client:only="svelte"
        title="Featured"
        data={featured}
        featured={true}
      />

      <!-- Packages section -->
      <Section client:only="svelte" title="Suites" data={suites} />

      <!-- Snippets section -->
      <Section client:only="svelte" title="Snippets" data={snippets} />

      <!-- UseCases section -->
      <Section client:only="svelte" title="UseCases" data={usecases} />
    </Scrollable>

    <!-- UGLY AS FUDGE, BUT IT WORKS -->
    {
      usecases.map((usecase) => {
        const { Content } = (usecase as any).rendered;
        return (
          <div id={usecase.id} class="hidden">
            <Content />
          </div>
        );
      })
    }
  </main>
</Layout>
<style>
  main {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: calc(100vh - 100px);
    overflow: hidden;
    gap: 1rem;

    padding: 1rem;
  }

  body {
    overflow: hidden;
  }
</style>
