---
interface Props {
  icon: string;
  title: string;
  description: string;
  link: string;
  type?: "packages" | "snippets" | "usecases";
  installCmd?: string;
}

const { icon, title, description, link, type, installCmd } = Astro.props as Props;
---

<div
  class="relative p-4 bg-gray-100 rounded-md cursor-pointer hover:bg-gray-200 transition-colors"
  onclick={`window.location.href = "${link}"`}
>
  {
    !!type && (
      <div class="absolute top-0 left-0 bg-blue-500 text-white px-2 py-1 rounded-md">
        {type}
      </div>
    )
  }
  <img
    src={icon}
    alt={title}
    width={150}
    height={150}
    class="rounded-md mx-auto"
  />
  <h1 class="text-lg font-bold text-center">{title}</h1>
  <p class="text-sm">{description}</p>
  {
    !!installCmd && (
      <div class="mt-4 p-2 bg-gray-200 rounded-md">
        <pre class="text-xs">{installCmd}</pre>
      </div>
    )
  }
</div>


<style>

</style>
